---
layout: default
title: Home
cover: false
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <!--<a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>-->
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                {% if page.about %} <a href='{{ site.baseurl }}{{ page.about }}'> Über uns </a> {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

  <!--<div class="panel">
    <h5>This is a regular panel.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>-->

  <div class="row">
    <div class="small-10 small-centered large-6 large-centered columns">
        <a href="#" class="button large expand podcast"><i class="fas fa-headphones"></i>&nbsp;Podcast anhören</a>
    </div>
  </center>

  <hr />

  <div class="row">
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
      <li>
        <center>
          <a href="http://www.koglin.net/">
            <h3>Patrick Koglin</h3>
            <p>
              <div>
                <img src="/assets/images/patrick.jpg" style="width:250px" class="gravatar-avatar"/>
              </div>
            </p>
          </a>
        </center>
      </li>
      <li>
        <center>
          <a href="https://www.linkedin.com/in/david-orlowski-08334971/">
            <h3>David Orlowski</h3>
            <p>
              <div>
                <img src="/assets/images/david.png" style="width:250px" class="gravatar-avatar"/>
              </div>
            </p>
          </a>
        </center>
      </li>
      <li>
        <center>
          <a href="https://www.thorbenegberts.com/">
            <h3>Thorben Egberts</h3>
            <p>
              <div>
                <img src="/assets/images/thorben.jpeg" style="width:250px" class="gravatar-avatar"/>
              </div>
            </p>
          </a>
        <center>
      </li>
    </ul>
  </div>

    <!--
    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %}
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time>
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}-->

</main>
